{% extends "base.html" %}

{% block content %}
<div class="lesson-container text-center">
    <div id="lesson-title">Hue</div>
    <div class="lesson-text">
        Adjust the hue slider to see how the photo's color temperature changes.
    </div>

    <div class="hue-exercise mt-5">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="target-image">
                    <img src="{{ url_for('static', filename='images/hue.jpg') }}" alt="Target hue" class="img-fluid">
                </div>
            </div>
            <div class="col-md-5">
                <div class="adjustable-image">
                    <img src="{{ url_for('static', filename='images/hue.jpg') }}" alt="Adjustable hue" class="img-fluid" id="adjustableImage">
                </div>
            </div>
        </div>

        <div class="slider-container mt-4">
            <input type="range" class="exposure-slider" id="hueSlider" min="0" max="360" value="0">
        </div>
    </div>

    <div class="mt-4 text-end">
        <button id="next-lesson" class="btn btn-next">
            <img src="{{ url_for('static', filename='images/next-arrow.png') }}" alt="Next">
        </button>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {
    const slider = document.getElementById('hueSlider');
    const image = document.getElementById('adjustableImage');

    slider.addEventListener('input', function() {
        // Apply hue-rotate filter based on slider value
        image.style.filter = `hue-rotate(${this.value}deg)`;
    });

    const nextLesson = {{ lesson_number }} + 1;

    // Next lesson button
    $('#next-lesson').click(function() {
        window.location.href = `/learn/${nextLesson}`;;
    });

});
</script>
{% endblock %} 